/* Full-width */
.Row {
   width: 100%;
}

/* BugGenie Blue Gradient Head & Menu */
#TopMenu {
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing:.02em;
    background: #6193cf; /* Old browsers */ ;
    background: -moz-linear-gradient(top, #6193cf 0%, #396ba7 100%); /* FF3.6+ */;
    background: -khtml-gradient(linear, left top, left bottom, from(#6193cf), to(#396ba7)); /* KHTML */;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6193cf), color-stop(100%,#396ba7)); /* Chrome,Safari4+ */;
    background: -webkit-linear-gradient(top, #6193cf 0%,#396ba7 100%); /* Chrome10+,Safari5.1+ */;
    background: -o-linear-gradient(top, #6193cf 0%,#396ba7 100%); /* Opera11.10+ */;
    background: -ms-linear-gradient(top, #6193cf 0%,#396ba7 100%); /* IE10+ */;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6193cf', endColorstr='#396ba7',GradientType=0 ); /* IE6-9 */;
    background: linear-gradient(top, #6193cf 0%,#396ba7 100%); /* W3C */;
    font-size: 0.98em; 
    font-family: 'Open Sans',sans-serif; 
    width: 100%;  
}

#logo_container {
    width: 30px;
    vertical-align: bottom;
    line-height: 0;
}

#forum_cell {
    padding-top: 7px; 
    background: #FAF3B8; 
    width: 1%;
}

#forum_button {
    vertical-align: middle;
    letter-spacing:.0em; 
    padding: 5px; 
    font-weight: bold; 
    color: #000000;
}

#forum {
    padding-top: 7px; 
    background: #FAF3B8; 
    width: 1%;
    vertical-align: middle; 
    padding: 5px; 
    font-weight: bold; 
    color: #000000;
}

.ProfilePhotoMedium {
    float: right;
    padding: 0px 2px 0px 0px; 
    height: 22px;
    width: 22px;
}

#UserName {
    text-align: right;
    padding: 0px 33px 0px 10px;   
    color: #fff;
}
#UserName a {
   color: #fff;
}
#UserName a:hover {
    color: #FFF;
}


/* BugGenie Yellow Head & Menu */
#Head {
   background: #FAF3B8;
   color: #000;
   padding: 5px 0px 0px 0px;
   height: 25px;

}
#Head a {
   color: #000;
}
#Head a:hover {
    background-color: #396BA7;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    text-decoration: none;
    color: #FFF;
}

#Head .SiteSearch .InputBox {
    width: 326px;
    font-size: 13px;
    padding: 2px !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
    height: 17px;
    line-height: 15px;
    box-sizing: initial;
    display: block !important;
    position: relative;
}
#Head .SiteSearch .InputBox:focus, textarea:focus {
    background: none repeat scroll 0% 0% #FFF; }

.SiteTitle { display: none; }


#Body{
    min-height:1000px;
    }

/* Panel on the right */
#Panel { float: right;}
#Body .ContentColumn { margin: 0 230px 0 8px; }
#Panel input.InputBox {
   width: 192px;
}
#Panel .PanelInfo .PictureLink  {
    display: none;
}
.PhotoWrap:hover a.ChangePicture {
    display: none;
}

/* Backwards compatibility for themes that extended/customized the old version */
#Body .Wrapper #Content {
   margin: 0 215px 0 0; 
}
.Banner ul {
    background: none repeat scroll 0 0 #FAF3B8;
    margin: 0;
    padding: 0;

}

#Menu {
   margin-right: 0 !important;
}
.Banner ul li,
#Menu li { display: inline; }
.Banner ul li a,
#Menu a { 
   display: inline-block;
   padding: 3px 7px;
   font-size: 11px;
   font-weight: bold;
   color: #fff; 
}
.Banner ul li a:hover {
    background-color: #396BA7;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    color: #FFF;
}
   .UserBox .WhoIs,
   .MeBox .WhoIs {
    min-height: 20px;
    line-height: 1.3;
   }
   
li.Gender {
    margin-bottom: 10px;
    display: none;
   }
   
/* If window is less than 800px wide, hide the panel for all pages except profile. */
@media screen and (max-width: 799px) {
   /* Hide the "started by" column of the discussions table. */
   body.Discussions .DataTable .FirstUser { display: none; }
   
   /* Hide the panel on non-profile pages. */
   #Body .Row {
      position: relative;
   }
   #Body .ContentColumn {
      padding-top: 50px;
   }
   .MeBox,
   .BigButton {
      visibility: visible;
      position: right;
      width: 120px;
      display: inline-block;
   }
   .BigButton {
      padding: 8px 20px;
   }
   .MeBox {
      width: 200px;
   }
   #Panel {
      overflow: visible;
      visibility: hidden;
      position: absolute;
      right: 2px; /* Don't know why this is adding some extra padding */
      width: 100%;
      display: block;
   }
   .Column.ContentColumn {
      margin: 0 !important;
   }

   /* Don't hide the panel on the profile page */
   body.Profile #Body .ContentColumn {
      padding-top: 0;
   }
   body.Profile .MeBox,
   body.Profile .BigButton {
      visibility: visible;
      position: relative;
      top: auto;
      right: auto;
      width: auto;
   }
   body.Profile .MeBox {
      width: auto;
      right: auto;
   }
   body.Profile #Panel {
      visibility: visible;
      position: relative;
      right: auto;
      width: 200px;
   }
   body.Profile .Column.ContentColumn {
      margin: 0 220px 0 0 !important;
   }
}